@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&family=Raleway:ital,wght@1,800&display=swap");

/* Some color variables */

:root {
  --primary: #2c3333;
  --secondary: #395b64;
  --tertiary: #e7f6f2;
  --quarternary: #a5c9ca;
}

/* Font & Background color Definition */

body {
  font-family: Merriweather;
  background-color: var(--primary);
}

/* Go to the Top button */

#toTop {
  position: fixed;
  bottom: 20px;
  right: 0;
  margin-top: 10px;
}

#toTop button {
  font-size: 2.5rem;
}

#go-up-button {
  background-color: var(--quarternary);
  border-radius: 100%;
  border: none;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 25px;
}

#go-up-button:hover {
  background-color: rgba(165, 201, 202, 0.85);
}

/* NavBar */

nav {
  border-radius: 20px;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
  background-color: var(--secondary);
}

#navbarNavAltMarkup {
  justify-content: space-around;
}

#navbarNavAltMarkup > div > a {
  text-decoration: none;
  color: var(--tertiary);
  font-size: 1.4rem;
}

/* First Section Page */

#first-section-page-h1 {
  color: var(--tertiary);
  width: 45%;
  font-size: 8rem;
  margin: 130px auto;
}

/* Image First Section Page */

#me-and-eclipses {
  width: 75%;
  margin-bottom: 45px;
}

/* Second Section Page */

.new-colored-div {
  background-color: var(--tertiary);
}

.title-of-page {
  margin-top: 80px;
  background-color: var(--tertiary);
  text-align: center;
  font-size: 3.5rem;
}

#about-me-text {
  font-size: 1.8rem;
  line-height: 2;
  text-align: justify;
  text-justify: inter-word;
}

#about-me-text p {
  margin: 120px 100px;
}

#about-me-image {
  border-radius: 20%;
  width: 60%;
}

/* Media Queries */

@media (max-width: 1440px) {

  #first-section-page-h1 {
    font-size: 4.5rem;
  }

  #navbarNavAltMarkup > div > a{
    font-size: 1rem;
  }

  #about-me-text p {
    margin: 50px 50px;
  }
  
  #about-me-text{
    font-size: 0.8rem;
  }
}

@media (max-width: 1199.98px) {
  #first-section-page-h1 {
    font-size: 3rem;
  }

  #about-me-text p {
    margin: 50px 50px;
  }

  #about-me-text{
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  #about-me-text {
    font-size: 1rem;
  }
}

@media (max-width: 575.98px) {
  /* Navbar */

  nav {
    margin: 15px auto;
  }

  /* First Page Section */
  #first-section-page-h1 {
    font-size: 2.3rem;
    margin: 50px 60px;
  }

  /* Second Page Section */
  .title-of-page {
    font-size: 2.8rem;
  }
  #about-me-text {
    font-size: 0.8rem;
  }

  #about-me-text p {
    margin: 30px 20px;
  }

  #about-me-image {
    width: 95%;
  }

  /* Go up button */

  #toTop button {
    font-size: 1.8rem;
  }

  #go-up-button {
    background-color: var(--quarternary);
    border-radius: 100%;
    border: none;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 25px;
  }
}

@media (max-width: 425px) {
  /* First Page Section */
  #first-section-page-h1 {
    font-size: 2.5rem;
    margin: 50px auto;
  }

  /* Go up button */

  #toTop button {
    font-size: 1.5rem;
  }
  #go-up-button {
    background-color: var(--quarternary);
    border-radius: 100%;
    border: none;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 25px;
  }

  /* Second Page Section */
  .title-of-page {
    font-size: 1.8rem;
  }
  #about-me-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  /* First Page Section */
  #first-section-page-h1  {
    font-size: 2.3rem;
    margin: 50px 60px;
  }

  /* Go up button */

  #toTop button {
    font-size: 1.5rem;
  }
  #go-up-button {
    background-color: var(--quarternary);
    border-radius: 100%;
    border: none;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 25px;
  }

  /* Second Page Section */
  .title-of-page {
    font-size: 1.8rem;
  }
  #about-me-text {
    font-size: 0.8rem;
  }

  #about-me-text p {
    margin: 30px 20px;
  }

  #about-me-image {
    width: 95%;
  }

}
